<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
import pandas as pd
import numpy as np
import requests 
import html 
from bs4 import BeautifulSoup
import csv

Download the webpage at the url

In [3]:
response= requests.get(url)
webpage=response.content

Create a soup object

In [4]:
soup=BeautifulSoup(webpage,'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   Salary survey results of programming languages
  </title>
  <style>
   table, th, td {
  border: 1px solid black;
}
  </style>
 </head>
 <body>
  <hr/>
  <h2>
   Popular Programming Languages
  </h2>
  <hr/>
  <p>
   Finding out which is the best language is a tough task. A programming language is created to solve a specific problem. A language which is good for task A may not be able to properly handle task B. Comparing programming language is never easy. What we can do, however, is find which is popular in the industry.
  </p>
  <p>
   There are many ways to find the popularity of a programming languages. Counting the number of google searchs for each language is a simple way to find the popularity. GitHub and StackOverflow also can give some good pointers.
  </p>
  <p>
   Salary surveys are a way to find out the programmings languages that are most in demand in the industry. Below table is the result of one such survey. When using any survey keep in mind that the results vary year on year.
  </p>
  <hr/>
  <table>
   <tbody>
    <tr>
     <td>
      No.
     </td>
     <td>
      Language
     </td>
     <td>
      Created By
     </td>
     <td>
      Average Annual Salary
     </td>
     <td>
      Learning Difficulty
     </td>
    </tr>
    <tr>
     <td>
      1
     </td>
     <td>
      Python
     </td>
     <td>
      Guido van Rossum
     </td>
     <td>
      $114,383
     </td>
     <td>
      Easy
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      Java
     </td>
     <td>
      James Gosling
     </td>
     <td>
      $101,013
     </td>
     <td>
      Easy
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      R
     </td>
     <td>
      Robert Gentleman, Ross Ihaka
     </td>
     <td>
      $92,037
     </td>
     <td>
      Hard
     </td>
    </tr>
    <tr>
     <td>
      4
     </td>
     <td>
      Javascript
     </td>
     <td>
      Netscape
     </td>
     <td>
      $110,981
     </td>
     <td>
      Easy
     </td>
    </tr>
    <tr>
     <td>
      5
     </td>
     <td>
      Swift
     </td>
     <td>
      Apple
     </td>
     <td>
      $130,801
     </td>
     <td>
      Easy
     </td>
    </tr>
    <tr>
     <td>
      6
     </td>
     <td>
      C++
     </td>
     <td>
      Bjarne Stroustrup
     </td>
     <td>
      $113,865
     </td>
     <td>
      Hard
     </td>
    </tr>
    <tr>
     <td>
      7
     </td>
     <td>
      C#
     </td>
     <td>
      Microsoft
     </td>
     <td>
      $88,726
     </td>
     <td>
      Hard
     </td>
    </tr>
    <tr>
     <td>
      8
     </td>
     <td>
      PHP
     </td>
     <td>
      Rasmus Lerdorf
     </td>
     <td>
      $84,727
     </td>
     <td>
      Easy
     </td>
    </tr>
    <tr>
     <td>
      9
     </td>
     <td>
      SQL
     </td>
     <td>
      Donald D. Chamberlin, Raymond F. Boyce.
     </td>
     <td>
      $84,793
     </td>
     <td>
      Easy
     </td>
    </tr>
    <tr>
     <td>
      10
     </td>
     <td>
      Go
     </td>
     <td>
      Robert Griesemer, Ken Thompson, Rob Pike.
     </td>
     <td>
      $94,082
     </td>
     <td>
      Difficult
     </td>
    </tr>
   </tbody>
  </table>
  <hr/>
 </body>
</html>

Scrape the `Language name` and `annual average salary`.

In [10]:
parameters =soup.find_all('tr')
lan_name_list=[]
avr_salary_list=[]

for i in parameters:
    lan_name=i.find_all('td')[1].text.strip()
    avr_salary=i.find_all('td')[3].text.replace('$',"").replace(',','')
    avr_salary= avr_salary
    lan_name_list.append(lan_name)
    avr_salary_list.append(avr_salary)
df=pd.DataFrame(lan_name_list,avr_salary_list)
df.reset_index(inplace=True)
df.columns=df.iloc[0]
df.drop(0,inplace=True)
df.reset_index(inplace=True,drop=True)
df['Average Annual Salary']=df['Average Annual Salary'].map(lambda x : int(x))
df.sort_values(by='Average Annual Salary')

df

0  Average Annual Salary    Language
0                 114383      Python
1                 101013        Java
2                  92037           R
3                 110981  Javascript
4                 130801       Swift
5                 113865         C++
6                  88726          C#
7                  84727         PHP
8                  84793         SQL
9                  94082          Go

Save the scrapped data into a file named *popular-languages.csv*

In [6]:
df.to_csv('popular-languages.csv')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).